name: Publish docs

on:
  push:
    branches:
    - main

jobs:
  build:
    name: Build docs
    runs-on: macos-11

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: "3.10"
    
    - name: Install package and dependencies
      run: |
        python3 -m pip install mkdocs
        python3 -m pip install git+https://github.com/TEParsons/mkdocs-landing
    
    - name: Build docs
      run: |
        mkdocs build

    - name: Commit
      run: |
        git add --all
        git commit --all -m "sys: Build documentation"
    
    - name: Push
      uses: ad-m/github-push-action@master
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        branch: gh-pages
        force: true
